#footer{
	color: white;
	background-color: black;
}
#gambar-header {
	height: 350px;
	background-image: url('sux.jpg');
	background-size: cover;
}
.img-text{
 background: rgba(0,0,0,07);
 color: #fff;
 padding: 10px 20px;
 border-radius: 5px;
 margin: auto;
 width: 50%;
 margin-top: 50px;
}
.navbar{
	background-color: black                                                                                                                                                                                                                                                                                                                                                                                                                                                                   
}
.navbar-brand{
	color: #fff;
}